/* dark-theme.css */

.root {
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Arial";
    -fx-base: #424242;
    -fx-text-fill: #e0e0e0;
}

.button {
    -fx-background-color: #596e79;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #465a65;
}

.label {
    -fx-text-fill: #e0e0e0;
}

.text-field {
    -fx-background-color: #424242;
    -fx-text-fill: #e0e0e0;
    -fx-border-color: #596e79;
}

.table-view {
    -fx-base: #424242;
    -fx-control-inner-background: #2b2b2b;
    -fx-background-color: #2b2b2b;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: #596e79;
    -fx-text-fill: #e0e0e0;
    -fx-selection-bar: #596e79;
    -fx-selection-bar-non-focused: #465a65;
}

.combo-box {
    -fx-background-color: #424242;
    -fx-text-fill: #e0e0e0;
}

.check-box {
    -fx-text-fill: #e0e0e0;
}
